body {
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  text-align: center;
  padding-top: 32vh;

  .title {
    font-size: 3em;
    max-width: 15em;
    margin: auto;
  }

  .sub-text {
    font-size: 1.2em;
    font-family: "PT Sans", serif;
    max-width: 39em;
    margin: auto;
    padding: 2em;
    color: #2e2e2e;
  }
}

.getStarted {
  text-align: center;

  .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    font-weight: 500;
    text-align: center;
    padding-top: 32vh;
  }

  .circle {
    position: absolute;
    width: 7em;
    height: 7em;
    border: 1px solid;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      background: #fff;
    }
  }

  .c1 {
    top: 5em;
    left: 25%;
    background: #ceead6;
    border-color: #ceead6;
  }

  .c2 {
    top: 7em;
    right: 20%;
    background: #d2e3fc;
    border-color: #d2e3fc;
  }

  .c3 {
    bottom: 5em;
    left: 10%;
    background: #ffefc3;
    border-color: #ffefc3;
  }

  .c4 {
    bottom: 4em;
    right: 20%;
    background: #f8d2ce;
    border-color: #f8d2ce;
  }

  .ripple {
    transform: scale(2);
    background: none;
  }
}

.button {
  background: #00337d;
  color: #fff;
  border: unset;
  border-radius: 5px;
  padding: 12px 17px;
  font-size: 1.1em;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background: #003f9c;
  }
}
